.banner {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff06bcc; /* nice warning yellow */
  color: black;
  transition: transform 150ms ease-in-out;
}

.banner p {
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 0px;
}

.banner * {
  padding: 7px 10px;
  display: inline-block;
}

/* The close button */
.closebtn {
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  cursor: pointer;
  transition: transform 150ms ease-in-out;
}
.closebtn:hover {
  color: rgb(90, 89, 89);
}