/* Dark mode */
body.dark {
  color: #ffffff;
  background-color: #222222;
}
body.dark * {
  color: #ffffff;
}
body.dark a {
  color: rgb(36, 180, 241);
}
body.dark a[href="#"] {
  color: rgb(240, 82, 82);
}

body.dark button {
  background-color: #3a3a3a;
  color: #FFFFFF;
}
body.dark button:hover {
  -moz-box-shadow:    0px 8px 6px -6px rgb(109, 109, 109);
  -webkit-box-shadow: 0px 8px 6px -6px rgb(109, 109, 109);
  box-shadow:         0px 8px 6px -6px rgb(109, 109, 109);
}
body.dark button[disabled] {
  color: #a3a3a3;
}
body.dark button[disabled]:hover {
  color: #a3a3a3;

  -moz-box-shadow:    none;
  -webkit-box-shadow: none;
  box-shadow:         none;
}

body.dark .footer {
  background-color: #3a3a3a;
}

body.dark .footer a {
  color: #fff;
}

body.dark .banner p,
body.dark .banner .closebtn {
  color: black;
}
body.dark .banner .closebtn:hover {
  color: rgb(90, 89, 89);
}