.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--gray);
  color: var(--font-color);
  text-align: left;

  padding: 5px;
}

.footer * {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
}

.footer a {
  color: var(--font-color);
}